name: Build and (maybe) Release

on:
  pull_request:
  push:
    branches:
    - master
    - pkg-build
    tags:
    - "v*"

jobs:
  build:
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.13
      obs-studio-ref: 25.0.8
    runs-on: macos-latest

    steps:
    - name: Checkout obs-mac-virtualcam
      uses: actions/checkout@v2
      with:
        path: obs-mac-virtualcam

    - name: Dump homebrew info
      run: |
        echo "brew --cache"
        brew --cache
        echo "brew --prefix"
        brew --prefix
        echo "/usr/local contents"
        ls /usr/local
        echo "~/Library/Caches/Homebrew"
        ls ~/Library/Caches/Homebrew

    - name: Cache Homebrew Cellar
      uses: actions/cache@v1
      with:
        path: /usr/local/Cellar
        key: homebrew-cellar-${{ hashFiles('obs-mac-virtualcam/Brewfile') }}

    - name: Dump homebrew info
      run: |
        echo "~/Library/Caches/Homebrew"
        ls ~/Library/Caches/Homebrew

    - name: Install OBS deps
      run: |
        brew bundle -v --file=obs-mac-virtualcam/Brewfile

    - name: Cache OBS Build
      id: cache-obs-build
      uses: actions/cache@v1
      with:
        path: obs-studio
        key: obs-studio-${{ env.obs-studio-ref }}-macOS${{ env.MACOSX_DEPLOYMENT_TARGET }}

    - name: Checkout OBS
      if: steps.cache-obs-build.outputs.cache-hit != 'true'
      uses: actions/checkout@v2
      with:
        repository: obsproject/obs-studio
        path: obs-studio
        submodules: recursive
        ref: ${{ env.obs-studio-ref }}

    - name: Build OBS
      if: steps.cache-obs-build.outputs.cache-hit != 'true'
      run: |
        mkdir -p obs-studio/build
        cd obs-studio/build

        export QTDIR=$(brew --prefix qt5)
        cmake ..
        make -j

    - name: Build the plugin
      run: |
        mkdir obs-mac-virtualcam/build
        cd obs-mac-virtualcam/build

        cmake -DLIBOBS_INCLUDE_DIR:STRING=$GITHUB_WORKSPACE/obs-studio/libobs \
          -DLIBOBS_LIB:STRING=$GITHUB_WORKSPACE/obs-studio/build/libobs/libobs.dylib \
          -DOBS_FRONTEND_LIB:STRING=$GITHUB_WORKSPACE/obs-studio/build/UI/obs-frontend-api/libobs-frontend-api.dylib \
          -DQTDIR:STRING=/usr/local/opt/qt ..
        make -j

    - name: Fix runtime QT deps
      run: |
        install_name_tool \
          -change /usr/local/opt/qt/lib/QtWidgets.framework/Versions/5/QtWidgets \
            @executable_path/../Frameworks/QtWidgets.framework/Versions/5/QtWidgets \
          -change /usr/local/opt/qt/lib/QtGui.framework/Versions/5/QtGui \
            @executable_path/../Frameworks/QtGui.framework/Versions/5/QtGui \
          -change /usr/local/opt/qt/lib/QtCore.framework/Versions/5/QtCore \
            @executable_path/../Frameworks/QtCore.framework/Versions/5/QtCore \
          obs-mac-virtualcam/build/src/obs-plugin/obs-mac-virtualcam.so

    - name: Copy artifacts
      run: |
        mkdir -p artifacts

        cp -r obs-mac-virtualcam/build/src/dal-plugin/obs-mac-virtualcam.plugin artifacts/
        cp obs-mac-virtualcam/build/src/obs-plugin/obs-mac-virtualcam.so artifacts/

    - name: Upload Raw PlugIn Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: raw-plugins
        path: artifacts

    - name: Install Apple certificates
      if: github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tags/v')
      uses: apple-actions/import-codesign-certs@v1
      with:
        p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
        p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}

    - name: Package Plugin
      if: github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tags/v')
      run: ./ci/macos/package-macos.sh
      working-directory: ./obs-mac-virtualcam
      env:
        RELEASE_MODE: "True"
        CODE_SIGNING_IDENTITY: John Boiles
        INSTALLER_SIGNING_IDENTITY: John Boiles
        AC_USERNAME: ${{ secrets.NOTARAZATION_USERNAME }}
        AC_PASSWORD: ${{ secrets.NOTARIZATION_PASSWORD }}
        AC_PROVIDER_SHORTNAME: ${{ secrets.NOTARIZATION_PROVIDER_SHORTNAME }}

    - name: Upload .pkg Installer
      uses: actions/upload-artifact@v1
      if: github.ref == 'refs/heads/master' || contains(github.ref, 'refs/tags/v')
      with:
        name: pkg-installer
        path: obs-mac-virtualcam/release
